<%= form_for(@post, :html => { :multipart => true }) do |f| %>

<% if @post.errors.any? %>
<ul>
  <% @post.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

  <ul>
    <li>
  <%= f.label :title %>
  <%= f.text_field :title %>
    </li>
    <li>
  <%= f.label :content %>
  <%= f.text_area :content %>
    </li>
    <li>
    <div class="field">
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div>
</li>
</ul>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>

