<h1>侍エンジニア塾 Rails Demo</h1>

<div id="notice">
<%= notice %>
</div>

<ul>
<% @posts.each do |post| %>
<li id="post_<%= post.id %>">
  <%= link_to post.title , post_path(post) %> (<%= post.comments.size %>)

<!--<%= post.content %>-->

<%= image_tag post.image %> 

<%= link_to 'EDIT', edit_post_path(post) %>
<%= link_to 'DELETE', post, :confirm => 'sure?', :method => :delete ,:remote => true %></li>
<% end %>
</ul>

<%= link_to 'HOME', posts_path %> | <%= link_to 'NEW' , new_post_path %>

<% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Facebook Login", user_omniauth_authorize_path(:facebook) %>
      <% end %>

<script>
$(function() {
  setTimeout(function(){
    $('#notice').fadeOut('slow')
  }, 800);

  $('a[data-method="delete"]').on('ajax:success', function(e, data, status, xhr){
    $('#post_'+data.post.id).fadeOut("slow");
    });
});
</script>